/* Common Section */
/*
* Title : Neumorphism Color
* Description : this is NEOMO color
*/

.neomo {
  background-color: var(--neomo) !important;
  color: #707070;
}

.gray {
  background-color: var(--neomo-gray) !important;
  color: #313131;
}

.dark {
  background-color: var(--neomo-dark) !important;
  color: white;
}

.smoke {
  background-color: #f5f5f5;
}

.orange {
  color: #fa821b;
}

.info {
  color: #0d6efd !important;
}

.success {
  color: #12ce76 !important;
}

.danger {
  color: #f41a30 !important;
}

.warning {
  color: #ffc71d !important;
}

.inset,
.navbar .active {
  box-shadow: inset 3px 3px 5px #c0c0c0, inset -3px -3px 5px #fff !important;
}

.inset-neomo,
button.outset-neomo:hover,
input.outset-neomo:focus,
input.outset-neomo:disabled,
input.inset-neomo:focus,
input.inset-neomo:disabled,
input:checked + .switch.outset-neomo,
.neomo .dropdown:hover .dropdown-button,
.neomo .dropdown-content a:hover,
.neomo .dropdown-toggle:hover .dropdown-toggle--button,
.neomo .dropdown-toggle--content a:hover,
.neomo .dropdown-toggle--button:focus,
.neomo .file .file-name,
.neomo .file label:hover,
.neomo .tab ul.tab-list li a:hover,
.neomo .tab ul.tab-list li a.current,
.neomo ul.pagination li a.active,
.neomo ul.pagination li a:hover:not(.active),
.neomo ul.pagination-round li a.active,
.neomo ul.pagination-round li a:hover:not(.active),
.neomo .checkbox-input:checked:after,
.neomo .radio-input:before,
.neomo .navbar .active,
.neomo .nav-link:hover,
.neomo .nav-link--animation:hover {
  border: none;
  background: var(--neomo) !important;
  box-shadow: inset -3px -3px 7px #ffffffe5,
    inset 3px 3px 5px rgba(55, 114, 216, 0.288) !important;
  color: var(--neomo-blue-text);
}

.inset-gray,
button.outset-gray:hover,
input.outset-gray:focus,
input.outset-gray:disabled,
input.inset-gray:focus,
input.inset-gray:disabled,
input:checked + .switch.outset-gray,
.gray .dropdown:hover .dropdown-button,
.gray .dropdown-content a:hover,
.gray .dropdown-toggle:hover .dropdown-toggle--button,
.gray .dropdown-toggle--content a:hover,
.gray .dropdown-toggle--button:focus,
.gray .file .file-name,
.gray .file label:hover,
.gray .tab ul.tab-list li a:hover,
.gray .tab ul.tab-list li a.current,
.gray ul.pagination li a.active,
.gray ul.pagination li a:hover:not(.active),
.gray ul.pagination-round li a.active,
.gray ul.pagination-round li a:hover:not(.active),
.gray .checkbox-input:checked:after,
.gray .radio-input:before,
.gray .navbar .active,
.gray .nav-link:hover,
.gray .nav-link--animation:hover {
  border: none;
  background: var(--neomo-gray) !important;
  box-shadow: inset -3px -3px 7px #ffffff80,
    inset 3px 3px 5px rgba(46, 46, 46, 0.288) !important;
  color: var(--neomo-gray-text);
}

.inset-dark,
button.outset-dark:hover,
input.outset-dark:focus,
input.outset-dark:disabled,
input.inset-dark:focus,
input.inset-dark:disabled,
input:checked + .switch.outset-dark,
.dark .dropdown:hover .dropdown-button,
.dark .dropdown-content a:hover,
.dark .dropdown-toggle:hover .dropdown-toggle--button,
.dark .dropdown-toggle--content a:hover,
.dark .dropdown-toggle--button:focus,
.dark .file .file-name,
.dark .file label:hover,
.dark .tab ul.tab-list li a:hover,
.dark .tab ul.tab-list li a.current,
.dark ul.pagination li a.active,
.dark ul.pagination li a:hover:not(.active),
.dark ul.pagination-round li a.active,
.dark ul.pagination-round li a:hover:not(.active),
.dark .checkbox-input:checked:after,
.dark .radio-input:before,
.dark .navbar .active,
.dark .nav-link:hover,
.dark .nav-link--animation:hover {
  border: none;
  background: var(--neomo-dark) !important;
  box-shadow: inset 5px 5px 9px #303030, inset -5px -5px 9px #535353 !important;
  color: var(--neomo-dark-text);
}

.inset-smoke,
button.outset-smoke:hover,
input.outset-smoke:focus,
input.outset-smoke:disabled,
input.inset-smoke:focus,
input.inset-smoke:disabled,
input:checked + .switch.outset-smoke,
.dropdown-content.outset-smoke a:hover,
.smoke .dropdown-toggle:hover .dropdown-toggle--button,
.smoke .dropdown-toggle--content a:hover,
.smoke .dropdown-toggle--button:focus,
.smoke .file .file-name,
.smoke .file label:hover,
.smoke .tab ul.tab-list li a:hover,
.smoke .tab ul.tab-list li a.current,
.smoke ul.pagination li a.active,
.smoke ul.pagination li a:hover:not(.active),
.smoke ul.pagination-round li a.active,
.smoke ul.pagination-round li a:hover:not(.active),
.smoke .nav-link:hover,
.smoke .nav-link--animation:hover {
  border: none;
  background: #f5f5f5 !important;
  box-shadow: inset -3px -3px 7px #e9e6e6b2, inset 3px 3px 5px #221b146c !important;
  color: var(--neomo-dark-text);
}

.inset-orange,
button.outset-orange:hover,
input.outset-orange:focus,
input.outset-orange:disabled,
input.inset-orange:focus,
input.inset-orange:disabled,
input:checked + .switch.outset-orange,
.dropdown-content.outset-orange a:hover,
.orange .dropdown-toggle:hover .dropdown-toggle--button,
.orange .dropdown-toggle--content a:hover,
.orange .dropdown-toggle--button:focus,
.orange .file .file-name,
.orange .file label:hover,
.orange .tab ul.tab-list li a:hover,
.orange .tab ul.tab-list li a.current,
.orange ul.pagination li a.active,
.orange ul.pagination li a:hover:not(.active),
.orange ul.pagination-round li a.active,
.orange ul.pagination-round li a:hover:not(.active),
.orange .nav-link:hover,
.orange .nav-link--animation:hover {
  border: none;
  background: #fa821b !important;
  box-shadow: inset -3px -3px 7px #f7ba84, inset 3px 3px 5px #27140449 !important;
  color: whitesmoke;
}

.outset-neomo,
.neomo .checkbox-input:before,
.neomo .checkbox-input:focus,
.switch.outset-neomo:before,
.neomo .dropdown-content,
.neomo .dropdown-toggle--content,
.neomo .tab ul.tab-list li a,
.neomo ul.pagination li a,
.neomo ul.pagination-round li a,
.neomo .file label,
.neomo .icon-circle,
.neomo .icon-circle--sm,
.neomo .icon-circle--lg,
.neomo .icon,
.navbar .search-bar {
  border: none;
  background: var(--neomo) !important;
  box-shadow: -3px -3px 7px #ffffffe5, 3px 3px 5px #3a72d349 !important;
  color: var(--neomo-blue-text);
}

.outset-gray,
.gray .checkbox-input:before,
.gray .checkbox-input:focus,
.switch.outset-gray:before,
.gray .dropdown-content,
.gray .dropdown-toggle--content,
.gray .tab ul.tab-list li a,
.gray ul.pagination li a,
.gray ul.pagination-round li a,
.gray .file label,
.gray .icon-circle,
.gray .icon-circle--sm,
.gray .icon-circle--lg,
.gray .icon {
  border: none;
  background: var(--neomo-gray) !important;
  box-shadow: -3px -3px 7px #ffffff80, 3px 3px 5px rgba(94, 104, 121, 0.288) !important;
  color: var(--neomo-gray-text);
}

.outset-dark,
.dark .checkbox-input:before,
.dark .checkbox-input:focus,
.switch.outset-dark:before,
.dark .dropdown-content,
.dark .dropdown-toggle--content,
.dark .tab ul.tab-list li a,
.dark ul.pagination li a,
.dark ul.pagination-round li a,
.dark .file label,
.dark .icon-circle,
.dark .icon-circle--sm,
.dark .icon-circle--lg,
.dark .icon {
  border: none;
  background: var(--neomo-dark) !important;
  box-shadow: 3px 3px 7px #272727, -3px -3px 5px #5a5a5a !important;
  color: var(--neomo-dark-text);
}

.outset-smoke,
.switch.outset-smoke:before,
.smoke .dropdown-content,
.smoke .dropdown-toggle--content,
.smoke .tab ul.tab-list li a,
.smoke ul.pagination li a,
.smoke ul.pagination-round li a,
.smoke .file label,
.smoke .icon-circle,
.smoke .icon-circle--sm,
.smoke .icon-circle--lg,
.smoke .icon {
  border: none;
  background: #f5f5f5 !important;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288) !important;
  color: #464545;
}

.outset-orange,
.switch.outset-orange:before,
.orange .dropdown-content,
.orange .dropdown-toggle--content,
.orange .tab ul.tab-list li a,
.orange ul.pagination li a,
.orange ul.pagination-round li a,
.orange .file label,
.orange .icon-circle,
.orange .icon-circle--sm,
.orange .icon-circle--lg,
.orange .icon {
  border: none;
  background: #fa821b !important;
  background: radial-gradient(
    circle,
    rgba(244, 157, 82, 1) 0%,
    rgba(250, 130, 27, 1) 100%
  ) !important;
  box-shadow: -3px -3px 7px #ffffffe5, 3px 3px 5px #27140449 !important;
  color: whitesmoke;
}

.button.inset:hover,
.floatinglabel-field.inset:focus-within {
  box-shadow: inset 3px 3px 5px #9c9da0, inset -3px -3px 5px #fff !important;
}

.button.inset-neomo:hover,
.floatinglabel-field.inset-neomo:focus-within {
  box-shadow: inset -3px -3px 7px #ffffffe5,
    inset 3px 3px 7px rgba(8, 91, 235, 0.288) !important;
}

.button.inset-gray:hover,
.floatinglabel-field.inset-gray:focus-within {
  box-shadow: inset -3px -3px 7px #ffffff80,
    inset 5px 5px 7px rgba(22, 22, 22, 0.288) !important;
}

.button.inset-dark:hover,
.floatinglabel-field.inset-dark:focus-within {
  box-shadow: inset 5px 5px 9px #242424, inset -5px -5px 9px #535353 !important;
}

:root {
  --neomo-gray: #d3d3d3;
  --neomo-dark: #464646;
}
