/* Checkbox Section Information */

/*
* Title : checkbox form
* Description : this is checkbox
*/

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  outline: none;
  border-radius: 20% !important;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.checkbox-label {
  vertical-align: middle;
}

.checkbox-input:before {
  content: " ";
  text-align: center;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  position: absolute;
}

.checkbox-input:checked:after {
  content: "✔";
  text-align: center;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  position: absolute;
  border-radius: 20% !important;
   box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
}

.checkbox-input:hover:before {
  content: "✔";
  text-align: center;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  border-radius: 20% !important;
  position: relative;
}
