/* Ladio Section Information */

/*
* Title : Ladio form
* Description : this is ladio
*/

.radio-input {
  margin: 0 2px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}

.radio-label {
  vertical-align: middle;
  cursor: pointer;
}

.radio-input:before {
  content: " ";
  text-align: center;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}

.radio-input:checked:before {
  width: 12px !important;
  height: 12px !important;
  text-align: center;
  border: 4px solid rgba(0, 0, 0, 0.3);
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.radio-input:hover:before {
  content: " ";
  text-align: center;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}

.radio-input:focus {
  outline: 0;
}
