/* Simple Table Section Information */

/*
* Title : Table component
* Description : This is the css of the Table on the component.
*/
.table {
  max-width: 1200px;
  width: 100%;
  padding: 10px 0 10px 0;
  border-spacing: 0;
  border-radius: 10px;
  box-shadow: inset 1px 2px 2px #b8b9be, inset -5px -2px 4px #fff;
}

.table-outset {
  box-shadow: 10px 10px 12px #ababab, -10px -10px 12px #ffffff;
}

.table > thead > tr {
  text-align: center;
  font-weight: bold;
}

.table > tbody > tr {
  text-align: center;
}

.table > thead > tr > th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table > tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: thin solid rgba(0, 0, 0, 0.08);
}

.table > tbody > tr:hover,
.table > thead > tr:hover {
  position: relative;
  background: rgb(219, 219, 219);
  border-radius: 10px;
}

/* Table component FINISH */
