/* Badge Section Information */

/*
* Title : Badge component
* Description : This is the css of the badge on the component.
*/

.badge {
  margin: 0 5px 0 5px;
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.badge-sm {
  padding: 0.3rem 0.5rem;
}

.badge-md {
  padding: 0.6rem 0.8rem;
}

.badge-rg {
  padding: 1rem 1.25rem;
}
