/* Simple Button Section Information */

/*
* Title : Button component
* Description : this is Button
*/

.button {
    display: flex;
    min-width: 100px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    justify-content: center;
    align-items: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button:hover {
    outline: 0;
    cursor: pointer;
}

button.outset-neomo:hover {
    box-shadow: inset 5px 5px 9px #cad3da, inset -5px -5px 9px #ebf1f5 !important;
}

button.outset-gray:hover {
    box-shadow: inset 5px 5px 9px #b3b3b3, inset -5px -5px 9px #dfdfdf !important;
}

button.outset-dark:hover {
    box-shadow: inset 5px 5px 9px #3c3c3c, inset -5px -5px 9px #535353 !important;
}

.button:focus {
    outline: 0;
}

button.square {
    border-radius: 0px !important;
}

button.normal {
    min-width: 100px;
    min-height: 50px;
}

button.small {
    min-width: 50px;
    min-height: 50px;
}

button.medium {
    min-width: 110px;
    min-height: 60px;
}

button.large {
    min-width: 130px;
    min-height: 70px;
}

/* Button component FINISH */