/* Card Section Information */

/*
* Title : Card component
* Description : This is the css of the Card on the component.
*/

.card {
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}



.card-header {
  align-items: stretch;
  display: flex;
}

.card-header-title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

.card-content {
  padding: 1.5rem;
}

.card-footer {
  border-top: thin solid rgba(0,0,0,0.09);
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}


.card-image:first-child img {
  border-radius: 10px;
}

.card-image > img {
  height: auto; 
  max-width: 100%;
}

