/* Column Section Information */

/*
* Title : Column component
* Description : this is Column
*/


.column{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:.115rem;
}

.columns{
    margin-left:-.115rem;
    margin-right:-.115rem;
    margin-top:-.115rem;
}

.columns:not(:last-child){
    margin-bottom: .115rem;
}

@media screen and (min-width:1169px),print{
    .columns{
        display:flex;
    }
}

.neomo-outset{
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
}

.neomo-inset{
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:inset 2px 2px 5px #b8b9be,inset -3px -3px 11px #fff!important;
}


@media screen and (min-width:1169px),print{
    .column.size-1{
        flex:none;
        width:8.33333%;
    }

    .column.size-2{
        flex:none;
        width:16.66666%;
    }

    .column.size-3{
        flex:none;
        width:24.99999%;
    }

    .column.size-4{
        flex:none;
        width:33.33332%;
    }

    .column.size-5{
        flex:none;
        width:41.66665%;
    }

    .column.size-6{
        flex:none;
        width:49.99998%;
    }

    .column.size-7{
        flex:none;
        width:58.33331%;
    }

    .column.size-8{
        flex:none;
        width:66.66664%;
    }

    .column.size-9{
        flex:none;
        width:74.99997%;
    }

    .column.size-10{
        flex:none;
        width:83.33333%;
    }

    .column.size-11{
        flex:none;
        width:91.66663%;
    }

    .column.size-12{
        flex:none;
        width:100%;
    }    
}

/* Column component FINISH */