/* Simple Dropdown Section Information */

/*
* Title : Dropdown component
* Description : this is Dropdown
*/
.dropdown {
  display: inline-block;
}
.dropdown-button {
  padding: 8px;
  font-size: 15px;
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;

  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}
.dropdown:hover .dropdown-button {
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}
.dropdown-button:focus {
  border: none;
  outline: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  padding: 5px;
  background-color: white;
  z-index: 2;

  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}
.dropdown-content--item {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}
.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .fa-caret-down {
  float: right;
  padding-right: 8px;
}
.dropdown .fa-caret-up {
  float: right;
  padding-right: 8px;
}
/* Dropdown component FINISH */

.dropdown-toggle {
  position: relative;
  display: inline-block;
}
.dropdown-toggle--button {
  padding: 8px;
  font-size: 15px;
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;

  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}
.dropdown-toggle:hover .dropdown-toggle--button {
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}
.dropdown-toggle--button:focus {
  border: none;
  outline: none;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}
.dropdown-toggle--content {
  display: none;
  position: absolute;
  min-width: 150px;
  padding: 5px;
  background-color: white;
  z-index: 1;

  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}
.dropdown-toggle--content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}
.dropdown-toggle--content a:hover {
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff;
}
.dropdown-show {
  display: block;
}
.dropdown-toggle .fa-caret-down {
  float: right;
  padding-right: 8px;
}
.dropdown-toggle .fa-caret-up {
  float: right;
  padding-right: 8px;
}
/* Dropdown-toggle component FINISH */
