/*
* Title : Navbar
* Description : this is Navbar example
*/

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-content {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 1rem;
  font-size: 20px;
  text-decoration: none;
}
.navbar-content a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 1rem;
}

.navbar-end {
  display: flex;
  align-self: flex-end;
  margin-right: 2rem;
}

.search-bar {
  display: flex;
  border-radius: 10px;
  background-color: var(--neomo);
}

.search-bar--text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  border: none;
  background-color: var(--neomo);
}

.search-bar--button {
  padding: 10px;
  border: none;
  background-color: var(--neomo);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
