/* Navigation Information */

/*
* Title : nav
* Description : normal nav. 
                Expressing neumorphism with an effect on the boader.
                Distribute even space using space-evenly.
                Use padding to secure enough space.
                Get Reactive with flex.
*/
.nav {
  border-radius: 50px;
  box-shadow: 16px 16px 32px #d9d9d9, -16px -16px 32px #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  padding: 15px 10px;
}

/* nav FINISH */

/*
* Title : nav2
* Description : nomal2 nav.
                express a different design from nav by giving shadows inside the box.
                
*/

.nav2 {
  list-style: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px white;

  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  box-shadow: 1px 1px 1px #bebebe, -1px -1px 1px #bebebe;
}

/* nav2 FINISH */

/*
  * Title : nav-cloumn
  * Description : nav version column
*/

.nav-cloumn {
  list-style: none;
  border-radius: 50px;
  box-shadow: 16px 16px 32px #d9d9d9, -16px -16px 32px #ffffff;
  display: flex;

  padding-left: 0;
  padding: 15px 10px;
  width: fit-content;
}

/* nav-cloumn FINISH */

/*
  * Title : nav-item--column 
  * Description : nav version column
*/

.nav-item--column {
  list-style: none;
  width: fit-content;
}

/* nav-item--column  FINISH */

/*
  * Title : nav-item
  * Description : Remove list-style
*/

.nav-item {
  list-style: none;
}

/* nav-item FINISH */

/*
  * Title : nav-item--animation
  * Description : 
*/

.nav-item--animation {
  border-radius: 15px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}

/* nav-item--animation FINISH */

/* .nav-item2 {
  border-radius: 15px;
  background: white;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
} */

/*
  * Title : nav-item2
  * Description : 
*/

.nav-item2 {
  border-radius: 15px;
  padding: 10px;
}
/* nav-item2 FINISH */

/*
  * Title : nav-item2:hover
  * Description : 
*/

.nav-item2:hover {
  box-shadow: 5px 5px 5px #bebebe, -5px -5px 5px #bebebe;
}

/* nav-item2:hover FINISH */

/*
  * Title : nav-link
  * Description : nav-link layout
*/

.nav-link {
  text-decoration: none;
  border-radius: 15px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.7);
}

/* nav-link FINISH */

/*
  * Title : nav-link--animation
  * Description : nav-link layout
*/

.nav-link--animation {
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 15px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
}

/* nav-link--animation FINISH */

/*
  * Title : nav-link--animation:focus
  * Description : nav-link layout
*/

.nav-link--animation:hover {
  border-radius: 15px;
  background: white;
  color: blue;
  box-shadow: inset 3px 3px 3px #bebebe, inset -0.1px -0.1px 2px #bebebe;
}

/* nav-link--animation FINISH */

/*
  * Title : nav-link:focus
  * Description : nav-link layout
*/

.nav-link:focus {
  border-radius: 15px;
  background: white;
  box-shadow: inset 3px 3px 3px #bebebe, inset -0.1px -0.1px 2px #bebebe;
}

/* nav-link FINISH */

/*
  * Title : nav-link2
  * Description : nav-link layout
*/

.nav-link2 {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

/* nav-link FINISH */

/*
  * Title : nav-link2:focus
  * Description : nav-link layout
*/

.nav-link2:focus {
  border-radius: 10px;
  box-shadow: 0 0 0 0.1rem skyblue;
}
/* nav-link FINISH */

/* .test {
  height: 100px;
  width: 100px;
  background-color: teal;
  margin-left: 100px;
  box-shadow: inset -5px -5px 5px red;
}
.test2 {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
} */
