/* Progressbar Section Information */

/*
* Title : Progressbar component
* Description : this is Progressbar
*/


.progress{
    display:flex;
    height:1rem;
    overflow:hidden;
    background-color:ghostwhite;
    border-radius:.55rem;
    box-shadow:inset 0 .1rem .1rem rgba(38,40,51,.1);
    border:.0625rem solid gainsboro;
    margin-bottom:1rem;
  }

  .progress-bar{
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#ecf0f3;
    white-space:nowrap;
    background-color:#e6e7ee;
    transition:width .6s ease;
  }


  .progress-bar.success{
    background-color:var(--success);
  }

  .progress-bar.info{
    background-color:var(--info);
  }

  .progress-bar.danger{
    background-color:var(--danger);
  }

  .progress-bar.dark{
    background-color:var(--dark);
  }

  .progress-bar.gray{
    background-color:var(--gray);
  }

  /* Progressbar component FINISH */