/* Select Section Information */

/*
* Title : select component
* Description : This is the css of the select on the component.
*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0 5px 0 5px;
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  box-shadow: inset 1px 2px 2px #b8b9be, inset -5px -2px 4px #fff;
}

.slt-primary {
  color: white;
  background-color: #0d6efd;
  box-shadow: inset 10px 10px 20px #2b67c2, inset -20px -20px 20px #55a4ff;
}

.slt-secondary {
  color: white;
  background: #6c757d;
  box-shadow: inset 10px 10px 20px #52585f, inset -20px -20px 20px #879199;
}

.slt-success {
  color: white;
  background: #11a661;
  box-shadow: inset 10px 10px 20px #0a9956, inset -20px -20px 20px #14bf70;
}

.slt-danger {
  color: white;
  background: #f41a30;
  box-shadow: inset 10px 10px 20px #c41224, inset -20px -20px 20px #f41a30;
}

.slt-warning {
  color: white;
  background: #ffbf00;
  box-shadow: inset 10px 10px 20px #daa70f, inset -20px -20px 20px #ffdc00;
}

select:focus {
  outline: 0;
}

select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

select::-webkit-scrollbar {
  display: none;
}
