/* Simple Button Section Information */

/*
* Title : Button component
* Author : Jieun Han
* Description : this is Button
*/

.button {
    /* Layout */
    display: inline-block;
    min-width: 100px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    /* Neumorphism design */
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    /* Text */
    text-align: center;
    color: black;
}

.button:hover {
    /* Neumorphism design */
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);

    /* Text */
    color: #6f6cde;
}

.button:focus {
    outline: 0;
}

.square {
    border-radius: 0px;
}

.normal {
    /* Layout */
    min-width: 100px;
    min-height: 50px;
}

.small {
    /* Layout */
    min-width: 50px;
    min-height: 50px;
}

.medium {
    /* Layout */
    min-width: 110px;
    min-height: 60px;
}

.large {
    /* Layout */
    min-width: 130px;
    min-height: 70px;
}

.dark {
    /* Neumorphism design */
}

.dark:hover {
    /* Neumorphism design */
}

.blue {
    /* Neumorphism design */
    background: #eff8ff;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

    /* Text */
    color: #2b2d2e;
}

.blue:hover {
    /* Neumorphism design */
    background: #dbebfa;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);

    /* Text */
    color: #2b2d2e;
}

.bg {
    background: #f3f4f7;
}

/* Button component FINISH */