

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;

  /* Neumorphism */
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-body{
  flex: 1 1 auto;
  padding: 15px;
}

.card-title{
  margin-bottom: 5px;
}

.card-text:last-child {
  margin-bottom: 0px;
}
