/* Simple Button Section Information */

/*
* Title : Button component
* Author : Jieun Han
* Description : This is Button
*/

.button {
    display: flex;
    min-width: 100px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    justify-content: center;
    align-items: center;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button:hover {
    outline: 0;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.square {
    border-radius: 0px !important;
}

.normal {
    min-width: 100px;
    min-height: 50px;
}

.small {
    min-width: 50px;
    min-height: 50px;
}

.medium {
    min-width: 110px;
    min-height: 60px;
}

.large {
    min-width: 130px;
    min-height: 70px;
}

.bg-gray {
    background: #e0e0e0;
}

.bg-dark {
    background: #464646;
}

.bg-blue {
    background: #eff8ff;
}

/* Button component FINISH */