/* Simple Button Section Information */

/*
* Title : Button component
* Description : this is Button
*/
.neo-button {
    display: block;
    max-width: 500px;
    width: 100%;
    height: 100px;

    /* 버튼 기본 속성 초기화 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Neumorphism */
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.neo-button:hover {
    display: block;
    max-width: 500px;
    width: 100%;
    height: 100px;

    /* Neumorphism */
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
    border: none;
}

/* Button component FINISH */