.tab {
  width: 960px;
}
.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab-list li {
  float: left;
  margin-right: 30px;
}
.tab-list li a {
  display: inline-block;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  transition: 0.3s;
}
.tab-content {
  display: none;
  padding: 6px 12px;
  margin-top: 30px;
}
.tab-content--title {
  font-size: 20px;
  margin: 20px 0 10px 20px;
}
.tab-content--text {
  font-size: 15px;
  margin: 5px 0 10px 20px;
}
ul.tab-list li.current {
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffff80,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.tab-content.current {
  display: block;
}
