.toast{
    max-width:350px;
    overflow:hidden;
    background-clip:padding-box;
    opacity:0;
}

.toast.show{
    display:block;
    opacity:1;
}

.toast-header{
    display:flex;
    align-items:center;
    padding:.25rem .75rem;
    background-clip:padding-box;
    border-bottom:1px solid;
    border-color: var(--gray);
}

.toast-body{
    padding:.75rem;
}