/* Tooltips Section Information */

/*
* Title : Tooltip component
* Description : this is Tooltip
*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-content {
    visibility: hidden;
    width:fit-content;
    padding: 10px;
    position: absolute;
    z-index: 100;
}

.tooltip .tooltip-content.bottom {
    margin-top: 10px;
}

.tooltip .tooltip-content.top {
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip .tooltip-content.left {
    right: 100%;
    top: -2.5em;
    margin-right: 10px;
}

.tooltip .tooltip-content.right {
    left: 100%;
    top: -2.5em;
    margin-left: 10px;
}

.tooltip:hover .tooltip-content.bottom,
.tooltip:hover .tooltip-content.top,
.tooltip:hover .tooltip-content.left,
.tooltip:hover .tooltip-content.right {
    visibility: visible;
}

.tooltip .tooltip-content::after {
    content: " ";
    position: absolute;
}

.tooltip .tooltip-content.bottom.outset-blue::after {
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--neomo-blue) transparent;
}

.tooltip .tooltip-content.bottom.outset-dark::after {
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--neomo-dark) transparent;
}

.tooltip .tooltip-content.bottom.outset-gray::after {
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--neomo-gray) transparent;
}

.tooltip .tooltip-content.top.outset-blue::after {
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--neomo-blue) transparent transparent transparent;
}

.tooltip .tooltip-content.top.outset-dark::after {
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--neomo-dark) transparent transparent transparent;
}

.tooltip .tooltip-content.top.outset-gray::after {
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--neomo-gray) transparent transparent transparent;
}

/* Tooltip component FINISH */