/* Alert Section Information */

/*
* Title : Alert component
* Description : This is the css of the Alert on the component.
*/

.alert {
  margin: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.alt-close {
  float: right;
  border: none;
  color: #b8b9be;
  font-weight: bold;
  background-color: transparent;
}

.alt-close:hover,
.alt-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
