/* Icon Information */

/*
* Title : icon
* Description : icon is a container for any type of icon font
*/

.icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.icon-sm {
  width: 30px;
  height: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.icon-lg {
  width: 70px;
  height: 70px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

/* icon FINISH */

/*
* Title : icon-circle
* Description : Icon circle shape
*/

.icon-circle {
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.icon-circle--sm {
  width: 30px;
  height: 30px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.icon-circle--lg {
  width: 70px;
  height: 70px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

/* icon-circle FINISH */
