/* Navbar Information */

/*
* Title : Navbar
* Description : this is Navbar example
*/

.navbar {
  width: 200px;
  height: 100%;
}
.navbar .toggle-button {
  margin-top: 5px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.navbar .toggle-button:hover {
  color: rgb(48, 84, 241);
}
.navbar .active {
  border: none;
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
  transition: all 0.3s linear;
}
.navbar .toggle-content {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: cubic-bezier(0.25, 0.8, 0.5, 1);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
  transition-delay: 0s;
  padding-left: 30px;
  padding-top: 10px;
}
.navbar .toggle-content a {
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding-bottom: 5px;
  color: #818181;
}
.navbar .toggle-content a:hover {
  color: rgb(48, 84, 241);
}
/* Navbar FINISH */
