/* Toast Section Information */

/*
* Title : Toast component
* Description : this is Toast
*/

.toast{
    max-width:350px;
    overflow:hidden;
    background-clip:padding-box;
    opacity:0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.toast.show{
    display:block;
    opacity:1;
}

.toast-header{
    display:flex;
    align-items:center;
    padding:.25rem .75rem;
    background-clip:padding-box;
    border-bottom:1px solid;
    border-color: var(--neomo-gray);
}

.toast-body{
    padding:.75rem;
}

/* Toast component FINISH */