/* Common Section */
/*
* Title : Neumorphism Color
* Description : this is NEOMO color
*/

.neomo {
  background-color: var(--neomo) !important;
  color: #707070;
}

.gray {
  background-color: var(--neomo-gray) !important;
  color: #313131;
}

.dark {
  background-color: var(--neomo-dark) !important;
  color: white;
}

.inset {
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
}

.info {
  color: #0d6efd !important;
}

.success {
  color: #12ce76 !important;
}

.danger {
  color: #f41a30 !important;
}

.warning {
  color: #ffc71d !important;
}

.inset-neomo,
button.outset-neomo:hover,
input.outset-neomo:focus,
input.outset-neomo:disabled,
input:checked + .switch.outset-neomo,
.neomo .dropdown:hover .dropdown-button,
.neomo .dropdown-content a:hover,
.neomo .dropdown-toggle:hover .dropdown-toggle--button,
.neomo .dropdown-toggle--content a:hover,
.neomo .dropdown-toggle--button:focus,
.neomo .file .file-name,
.neomo .file label:hover,
.neomo .tab ul.tab-list li a:hover,
.neomo .tab ul.tab-list li a.current,
.neomo ul.pagination li a.active,
.neomo ul.pagination li a:hover:not(.active),
.neomo ul.pagination-round li a.active,
.neomo ul.pagination-round li a:hover:not(.active) {
  border: none;
  background: var(--neomo) !important;
  box-shadow: inset -3px -3px 7px #ffffffe5,
    inset 3px 3px 5px rgba(88, 100, 121, 0.288) !important;
  color: var(--neomo-blue-text);
}
.inset-gray,
button.outset-gray:hover,
input.outset-gray:focus,
input.outset-gray:disabled,
input:checked + .switch.outset-gray,
.gray .dropdown:hover .dropdown-button,
.gray .dropdown-content a:hover,
.gray .dropdown-toggle:hover .dropdown-toggle--button,
.gray .dropdown-toggle--content a:hover,
.gray .dropdown-toggle--button:focus,
.gray .file .file-name,
.gray .file label:hover,
.gray .tab ul.tab-list li a:hover,
.gray .tab ul.tab-list li a.current,
.gray ul.pagination li a.active,
.gray ul.pagination li a:hover:not(.active),
.gray ul.pagination-round li a.active,
.gray ul.pagination-round li a:hover:not(.active) {
  border: none;
  background: var(--neomo-gray) !important;
  box-shadow: inset -3px -3px 7px #ffffff80,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288) !important;
  color: var(--neomo-gray-text);
}
.inset-dark,
button.outset-dark:hover,
input.outset-dark:focus,
input.outset-dark:disabled,
input:checked + .switch.outset-dark,
.dark .dropdown:hover .dropdown-button,
.dark .dropdown-content a:hover,
.dark .dropdown-toggle:hover .dropdown-toggle--button,
.dark .dropdown-toggle--content a:hover,
.dark .dropdown-toggle--button:focus,
.dark .file .file-name,
.dark .file label:hover,
.dark .tab ul.tab-list li a:hover,
.dark .tab ul.tab-list li a.current,
.dark ul.pagination li a.active,
.dark ul.pagination li a:hover:not(.active),
.dark ul.pagination-round li a.active,
.dark ul.pagination-round li a:hover:not(.active) {
  border: none;
  background: var(--neomo-dark) !important;
  box-shadow: inset 5px 5px 9px #3c3c3c, inset -5px -5px 9px #535353 !important;
  color: var(--neomo-dark-text);
}

.outset-neomo,
.switch.outset-neomo:before,
.neomo .dropdown-content,
.neomo .dropdown-toggle--content,
.neomo .tab ul.tab-list li a,
.neomo ul.pagination li a,
.neomo ul.pagination-round li a,
.neomo .file label {
  border: none;
  background: var(--neomo) !important;
  box-shadow: -3px -3px 7px #ffffffe5, 3px 3px 5px #58647949 !important;
  color: var(--neomo-blue-text);
}
.outset-gray,
.switch.outset-gray:before,
.gray .dropdown-content,
.gray .dropdown-toggle--content,
.gray .tab ul.tab-list li a,
.gray ul.pagination li a,
.gray ul.pagination-round li a,
.gray .file label {
  border: none;
  background: var(--neomo-gray) !important;
  box-shadow: -3px -3px 7px #ffffff80, 3px 3px 5px rgba(94, 104, 121, 0.288) !important;
  color: var(--neomo-gray-text);
}
.outset-dark,
.switch.outset-dark:before,
.dark .dropdown-content,
.dark .dropdown-toggle--content,
.dark .tab ul.tab-list li a,
.dark ul.pagination li a,
.dark ul.pagination-round li a,
.dark .file label {
  border: none;
  background: var(--neomo-dark) !important;
  box-shadow: 3px 3px 12px #303030, -3px -3px 12px #5a5a5a !important;
  color: var(--neomo-dark-text);
}

:root {
  --neomo-gray: #d3d3d3;
  --neomo-dark: #464646;
}
