/* Input Section Information */

/*
* Title : Input component
* Description : this is Input
*/

.input {
  width: 350px;
  padding: 15px;
  margin: 20px;
  text-align: left !important;
  font-size: 15px;

  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.square {
  border-radius: 0px !important;
}

.rounded {
  border-radius: 30px !important;
}

input:focus,
input:disabled {
  outline: 0;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
}

input.small {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

input.medium {
  font-size: 20px;
}

input.large {
  font-size: 25px;
}

.input-group {
  display: flex;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}
.input-group > input {
  border: none;
}
.input-group > .input-group-left {
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none !important;
}
.input-group > .input-group-left:not(input) {
  border-right: 0.1px solid;
  border-color: rgb(235, 234, 234);
}
.input-group > .input-group-right {
  padding: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: none !important;
}
.input-group > .input-group-right:not(input) {
  border-left: 0.1px solid;
  border-color: rgb(235, 234, 234);
}
.input-group
  > input:not(.outset-neomo):not(.outset-gray):not(.outset-dark):not(.outset-orange):focus {
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
}


.textarea{
  width: 100%;
  border-left: 0.1px solid;
  border-color: rgb(235, 234, 234);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #ababab, -3px -3px 7px #ffffff;
}

.textarea:focus{
  outline: 0;
  cursor: pointer;
  box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 5px #fff !important;
}