/* Column Section Information */

/*
* Title : Column component
* Description : this is Column
*/


.column{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:0.2rem;
    box-sizing:border-box;
}

.columns{
    padding-left:-0.1rem;
    padding-right:-0.1rem;
    padding-top:-0.1rem;
    flex-wrap: wrap;
    box-sizing:border-box;

    /* 내부 column들 끼리 간격  */
    --neomo-interval-x:0;
    --neomo-interval-y:0;
   
    padding-top:calc(var(--neomo-interval-y) * -1);
    padding-right:calc(var(--neomo-interval-x)/ -2);
    padding-left:calc(var(--neomo-interval-x)/ -2);
}

/* 행간 기본간격 */
.columns:not(:last-child){
    padding-bottom: 0.2rem;
}

.columns>*{
    padding-right:calc(var(--neomo-interval-x)/ 2);
    padding-left:calc(var(--neomo-interval-x)/ 2);
    padding-top:var(--neomo-interval-y);
}

/* 내부 column들 끼리 간격 -1,2,3 */
.columns.interval-1{
    --neomo-interval-x:1.5rem;
    --neomo-interval-y:1.5rem;
}

.columns.interval-2{
    --neomo-interval-x:3.0rem;
    --neomo-interval-y:3.0rem;
}

.columns.interval-3{
    --neomo-interval-x:4.5rem;
    --neomo-interval-y:4.5rem;
}





/* 상하좌우 정렬옵션, columns */
.columns.align-top{align-self:flex-start!important;}
.columns.align-mid{align-self:center!important;}
.columns.align-bottom{align-self:flex-end!important;}

.columns.just-left{justify-content:flex-start!important;}
.columns.just-center{justify-content:center!important;}
.columns.just-right{justify-content:flex-end!important;}

/* columns 안에서 column 정렬순서 */
.column.order-1{order:1!important;}
.column.order-2{order:2!important;}
.column.order-3{order:3!important;}
.column.order-4{order:4!important;}
.column.order-5{order:5!important;}
.column.order-6{order:6!important;}
.column.order-7{order:7!important;}
.column.order-8{order:8!important;}
.column.order-9{order:9!important;}
.column.order-10{order:10!important;}
.column.order-11{order:11!important;}
.column.order-12{order:12!important;}

/* 반응형 기본옵션 */
@media screen and (min-width:1169px),print{
    .columns{
        display:flex;
    }
    .column.size-1{
        flex:none;
        width:8.33333%;
    }

    .column.size-2{
        flex:none;
        width:16.66666%;
    }

    .column.size-3{
        flex:none;
        width:24.99999%;
    }

    .column.size-4{
        flex:none;
        width:33.33332%;
    }

    .column.size-5{
        flex:none;
        width:41.66665%;
    }

    .column.size-6{
        flex:none;
        width:49.99998%;
    }

    .column.size-7{
        flex:none;
        width:58.33331%;
    }

    .column.size-8{
        flex:none;
        width:66.66664%;
    }

    .column.size-9{
        flex:none;
        width:74.99997%;
    }

    .column.size-10{
        flex:none;
        width:83.33333%;
    }

    .column.size-11{
        flex:none;
        width:91.66663%;
    }

    .column.size-12{
        flex:none;
        width:100%;
    }    
}

/* 반응형 사이즈 커스터마이징 */
.column-responsive{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:.115rem;
    box-sizing:border-box;
}

.columns-responsive{
    padding-left:-.115rem;
    padding-right:-.115rem;
    padding-top:-.115rem;
    flex-wrap: wrap;
    box-sizing:border-box;

    --neomo-interval-x:0;
    --neomo-interval-y:0;
   
    padding-top:calc(var(--neomo-interval-y) * -1);
    padding-right:calc(var(--neomo-interval-x)/ -2);
    padding-left:calc(var(--neomo-interval-x)/ -2);
}

.columns-responsive:not(:last-child){
    padding-bottom: .115rem;
}

.columns-responsive>*{
    padding-right:calc(var(--neomo-interval-x)/ 2);
    padding-left:calc(var(--neomo-interval-x)/ 2);
    padding-top:var(--neomo-interval-y);
}

.columns-responsive.interval-1{
    --neomo-interval-x:1.5rem;
    --neomo-interval-y:1.5rem;
}

.columns-responsive.interval-2{
    --neomo-interval-x:3.0rem;
    --neomo-interval-y:3.0rem;
}

.columns-responsive.interval-3{
    --neomo-interval-x:4.5rem;
    --neomo-interval-y:4.5rem;
}

/* 1400픽셀 내외 반응형 */
@media screen and (min-width:1400px),print{
    .columns-responsive.xxlg{
        display:flex;
    }

    .xxlg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xxlg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xxlg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xxlg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xxlg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xxlg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xxlg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xxlg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xxlg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xxlg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xxlg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xxlg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 1200픽셀 내외 반응형 */
@media screen and (min-width:1200px),print{
    .columns-responsive.xlg{
        display:flex;
    }

    .xlg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xlg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xlg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xlg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xlg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xlg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xlg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xlg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xlg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xlg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xlg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xlg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 992픽셀 내외 반응형 */
@media screen and (min-width:992px),print{
    .columns-responsive.lg{
        display:flex;
    }

    .lg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .lg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .lg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .lg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .lg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .lg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .lg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .lg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .lg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .lg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .lg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .lg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 768픽셀 내외 반응형 */
@media screen and (min-width:768px),print{
    .columns-responsive.md{
        display:flex;
    }

    .md > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .md > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .md > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .md > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .md > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .md > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .md > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .md > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .md > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .md > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .md > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .md > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 576픽셀 내외 반응형 */
@media screen and (min-width:576px),print{
    .columns-responsive.sm{
        display:flex;
    }

    .sm > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .sm > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .sm > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .sm > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .sm > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .sm > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .sm > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .sm > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .sm > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .sm > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .sm > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .sm > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 항상 반응형 적용안됨, 고정크기 */
@media screen and (min-width:0px),print{
    .columns-responsive.xsm{
        display:flex;
    }

    .xsm > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xsm > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xsm > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xsm > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xsm > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xsm > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xsm > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xsm > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xsm > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xsm > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xsm > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xsm > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}


/* Column component FINISH */