/* Column Section Information */

/*
* Title : Column component
* Description : this is Column
*/


.column{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:.115rem;
    box-sizing:border-box;
    
    
}

.columns{
    margin-left:-.115rem;
    margin-right:-.115rem;
    margin-top:-.115rem;
    flex-wrap: wrap;
    box-sizing:border-box;
}

.columns:not(:last-child){
    margin-bottom: .115rem;
}

@media screen and (min-width:1169px),print{
    .columns{
        display:flex;
    }
}

@media screen and (min-width:1169px),print{
    .column.size-1{
        flex:none;
        width:8.33333%;
    }

    .column.size-2{
        flex:none;
        width:16.66666%;
    }

    .column.size-3{
        flex:none;
        width:24.99999%;
    }

    .column.size-4{
        flex:none;
        width:33.33332%;
    }

    .column.size-5{
        flex:none;
        width:41.66665%;
    }

    .column.size-6{
        flex:none;
        width:49.99998%;
    }

    .column.size-7{
        flex:none;
        width:58.33331%;
    }

    .column.size-8{
        flex:none;
        width:66.66664%;
    }

    .column.size-9{
        flex:none;
        width:74.99997%;
    }

    .column.size-10{
        flex:none;
        width:83.33333%;
    }

    .column.size-11{
        flex:none;
        width:91.66663%;
    }

    .column.size-12{
        flex:none;
        width:100%;
    }    
}

.column.align-top{align-self:flex-start!important;}
.column.align-mid{align-self:center!important;}
.column.align-bottom{align-self:flex-end!important;}

.column.just-left{justify-content:flex-start!important;}
.column.just-center{justify-content:center!important;}
.column.just-right{justify-content:flex-end!important;}

.column.order-1{order:1!important;}
.column.order-2{order:2!important;}
.column.order-3{order:3!important;}
.column.order-4{order:4!important;}
.column.order-5{order:5!important;}
.column.order-6{order:6!important;}
.column.order-7{order:7!important;}
.column.order-8{order:8!important;}
.column.order-9{order:9!important;}
.column.order-10{order:10!important;}
.column.order-11{order:11!important;}
.column.order-12{order:12!important;}

/* 반응형 사이즈 커스터마이징 */

.column-responsive{
    display:block;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:1;
    padding:.115rem;
    box-sizing:border-box;
}

.columns-responsive{
    margin-left:-.115rem;
    margin-right:-.115rem;
    margin-top:-.115rem;
    flex-wrap: wrap;
    box-sizing:border-box;
}

.columns-responsive:not(:last-child){
    margin-bottom: .115rem;
}



/* 1400픽셀 내외 반응형 */
@media screen and (min-width:1400px),print{
    .columns-responsive.xxlg{
        display:flex;
    }
}

@media screen and (min-width:1400px),print{
    .xxlg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xxlg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xxlg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xxlg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xxlg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xxlg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xxlg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xxlg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xxlg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xxlg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xxlg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xxlg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 1200픽셀 내외 반응형 */
@media screen and (min-width:1200px),print{
    .columns-responsive.xlg{
        display:flex;
    }
}

@media screen and (min-width:1200px),print{
    .xlg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xlg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xlg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xlg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xlg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xlg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xlg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xlg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xlg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xlg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xlg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xlg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 992픽셀 내외 반응형 */
@media screen and (min-width:992px),print{
    .columns-responsive.lg{
        display:flex;
    }
}

@media screen and (min-width:992px),print{
    .lg > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .lg > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .lg > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .lg > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .lg > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .lg > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .lg > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .lg > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .lg > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .lg > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .lg > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .lg > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 768픽셀 내외 반응형 */
@media screen and (min-width:768px),print{
    .columns-responsive.md{
        display:flex;
    }
}

@media screen and (min-width:768px),print{
    .md > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .md > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .md > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .md > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .md > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .md > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .md > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .md > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .md > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .md > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .md > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .md > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 576픽셀 내외 반응형 */
@media screen and (min-width:576px),print{
    .columns-responsive.sm{
        display:flex;
    }
}

@media screen and (min-width:576px),print{
    .sm > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .sm > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .sm > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .sm > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .sm > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .sm > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .sm > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .sm > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .sm > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .sm > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .sm > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .sm > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}

/* 항상 반응형?? */
@media screen and (min-width:0px),print{
    .columns-responsive.xsm{
        display:flex;
    }
}

@media screen and (min-width:0px),print{
    .xsm > .column-responsive.size-1{
        flex:none;
        width:8.33333%;
    }

    .xsm > .column-responsive.size-2{
        flex:none;
        width:16.66666%;
    }

    .xsm > .column-responsive.size-3{
        flex:none;
        width:24.99999%;
    }

    .xsm > .column-responsive.size-4{
        flex:none;
        width:33.33332%;
    }

    .xsm > .column-responsive.size-5{
        flex:none;
        width:41.66665%;
    }

    .xsm > .column-responsive.size-6{
        flex:none;
        width:49.99998%;
    }

    .xsm > .column-responsive.size-7{
        flex:none;
        width:58.33331%;
    }

    .xsm > .column-responsive.size-8{
        flex:none;
        width:66.66664%;
    }

    .xsm > .column-responsive.size-9{
        flex:none;
        width:74.99997%;
    }

    .xsm > .column-responsive.size-10{
        flex:none;
        width:83.33333%;
    }

    .xsm > .column-responsive.size-11{
        flex:none;
        width:91.66663%;
    }

    .xsm > .column-responsive.size-12{
        flex:none;
        width:100%;
    }    
}


/* Column component FINISH */