/* Container Information */

/*
* Title : container
* Description : containers layout
*/
.container {
  width: 100%;
  align-items: center;
  margin: auto;
}

/* XX-Large */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .nav {
    padding: 30px;
    font-size: 30px;
  }
}
/* X-Large */
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .nav {
    padding: 25px;
    font-size: 27px;
  }
}
/* Large */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .nav {
    padding: 20px;
    font-size: 25px;
  }
}
/* Medium */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .nav {
    padding: 10px;
    font-size: 25px;
  }
}
/* Small */
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .nav {
    padding: 5px;
    font-size: 25px;
  }
}
/* Extra Small */
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .nav {
    padding: 0px;
    font-size: 10px;
  }
}
/* container FINISH */

/*
* Title : container-fluid
* Description : containers layout
*/
.container-fluid {
  width: 100%;
  max-width: 100%;
}
/* container-fluid FINISH */
